:host
{
  display: flex;
  flex-direction: row;
}
mat-card{
  display: flex;
  flex-direction: column;
  margin: auto;

  background-color: #000;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  color: white;
  margin-top: 2%;
  width: 40%;
  border-radius: 12px;
  min-height: 75%;
  justify-content: center;
  align-items:center;

}
mat-card-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}
mat-card-subtitle{
  margin-left: 10%;
  display: flex;
  flex-direction: row;
 

}
mat-card-title mat-icon{
  margin-right: 10%;
}
#br-img
{
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 12px;
}
mat-card-actions{
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

mat-card-actions button{
  margin:auto;
}
.button-cards{
  font-size: 1.0rem;
  display: flex;
  color: #fff;
  flex-direction: row;
  background-color: #000;

  border-radius: 10px;
  align-items: center;
  margin-bottom: 2%;
  height: 15%;
  border: 0;


}
.button-cards:hover{
  color: #fff;
  background: linear-gradient(90deg, rgba(32,26,145,1) 2%, rgb(3, 3, 20) 100%, rgba(0,212,255,1) 100%);
  background: rgb(32,26,145);

}
.folder-shared-icon{
  transform: scale(3);

}
