<mat-card>
  <mat-card-header>
      
    <mat-card-title>
      <h3>Nicho destacado (BR)</h3>
      <img src="../../../../../assets/img/bandeira.svg" id="br-img" alt="">
     

    </mat-card-title>
    <mat-card-subtitle>População: 214 Milhões (2021)</mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <mat-divider></mat-divider>
    <button mat-button class="button-cards">Ver Mais
    <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-button class="button-cards">Compartilhar
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card>
  <mat-card-header>

    <mat-card-title>
      <mat-icon class="folder-shared-icon">folder_shared</mat-icon>

      <h3>Documentação e artigos customizados</h3>

    </mat-card-title>
    <mat-card-subtitle>Novas tecnologias e apresentações dinâmicas </mat-card-subtitle>
  </mat-card-header>

  <mat-card-actions>
    <mat-divider></mat-divider> 

    <button mat-button class="button-cards">Ver mais
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
