
mat-drawer{

    color: white;
    border: none;
    height: 100vh;




}

mat-drawer{

    width: 25%;
    background: linear-gradient(90deg, rgba(32,26,145,1) 2%, rgb(3, 3, 20) 100%, rgba(0,212,255,1) 100%);

}
#header{
    display: flex;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #2750e3 50%, #190c0c 100%);
}

.icon-color{
    color: #fff;
}
:host{

    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #2750e3 50%, #190c0c 100%);


    border-left-color: black;
    display: flex;
    flex-direction: column;

  }

  mat-list{


    display: flex;
    flex-direction: column;
    height: 100%;




  }
  mat-icon{
    color: #fff;
    font-size: 100%;
    margin-right: 10px;
  }
  .button-sidebar
  {
    display: flex;
    flex-direction: row;
    background-color: #000;
    margin-bottom: 2%;
    width: 100%;
    border-radius: 10px;
    align-items: center;



  }
  .button-sidebar:hover
  {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(32,26,145,1) 2%, rgb(3, 3, 20) 100%, rgba(0,212,255,1) 100%);
    background: rgb(32,26,145);

    width: 100%;
    border-radius: 10px;
    align-items: center;




  }
  mat-icon{
    padding: 5%;
    display: flex;
    align-content: center;

  }
  mat-list-item{
    font-family: fantasy;
    min-width: 80%;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 550;
    border-left: #fff solid 1px;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #2750e3 50%, #190c0c 100%);
  }


  .flex-end{

    margin-bottom: auto;
    margin-top: 5%;

  }
  #imgDiv
  {

    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  #imgSurvivor{
    width: 60%;
     max-width: 80%;
    object-fit: stretch;
    border-radius: 12px;

  }



